spring:
  application:
    name: bookstore-ecommerce
  datasource:
    url: jdbc:h2:mem:bookstoredb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

server:
  port: 8080

jwt:
  secret: mySecretKeyForJWTTokenGenerationThatIsLongEnoughForHS256Algorithm123456
  expiration: 86400000

logging:
  level:
    com.bookstore: DEBUG
    org.springframework.security: DEBUG
